* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e2528;
}

#titulo {
    background-color: #fff;
    margin: 30px;
    padding: 10px;
    max-width: 90%;
    border: 5px solid #000;
    box-shadow: 1px 1px 10px #fff outset;
}

#titulo h1 {font-size: 100px; text-shadow: 1px 1px 10px rgba(0, 0, 200, 0.8); text-align: center;}

.caixa {
    background-color: #fff;
    display: grid;
    gap: 15px;
    max-width: 90%;
    margin: 30px;
    padding: 10px;
    border: medium inset #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.caixa h2 {font-size: 30px;}

.info {width: 160px; padding: 2px;}

.sub-caixa {
    display: inline-flex;
    align-items: center;
}

.sub-caixa p {font-size: 20px; margin-left: 10px;}

#grade-butoes {
    display: flex;
    max-width: 90%;
    width: 200px;
    place-items: center;
    margin: 0 auto;
}

.botao {
    margin: 5px;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
}
